@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --primaire-color: #06b27a;
  --secondair-color-1: #088c61;
  --secondair-color-2: #0c6b4c;
  --accent-color-1: #15ca8f;
  --accent-color-2: #25dfa2;
  --content-basic-color-1: #fff;
  --content-basic-color-2: #303030;
  --error-color-1: #aa3939;
  --error-color-2: #801515;
}
