.dataoverview
{
   

}

.dataoverview ul{
    padding: 5;
    list-style-type: none;
}

.pointer {
    cursor: pointer;
}

.hide, .toggle{
    display: none;
}
.dataoverview li.datarow
{
    min-height: 25px;
    padding: 5px;
    margin-bottom: 5px;
}

.dataoverview li.datarow
{
    background-color: var(--secondair-color-2);
    transition: background-color 0.75s ease;
    color: var(--content-basic-color-1);
    
}
.dataoverview li.datarow:hover {
    background-color: var(--accent-color-2);
    color: var(--content-basic-color-2);
    
}
.dataoverview .boxtools
{
    width: 50px;
    text-align: right;    
    padding-top: 2px;
    padding-right: 2px;
}

.dataoverview .boxtools i
{
    color: var(--content-basic-color-1);
}

.dataoverview .boxtools i:hover {
    color: var(--content-basic-color-2);
}
