form ul {
  padding: 5;
  list-style-type: none;
}
label {
  display: block;
  width: 100%;
}
input:read-only,
textarea:read-only {
  background-color: var(--secondair-color-2);
}

input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid var(--secondair-color-1);
}

input[type="submit"] {
  color: var(--content-basic-color-1);
}

button {
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  background-color: var(--secondair-color-1);
}
.formerrors {
  background-color: var(--error-color-1);
  border: 2px solid var(--error-color-2);
}
.formerrors ul li::marker {
  color: var(--error-color-2);
}
.formsuccessful,
.formerrors {
  animation: fadeIn 2s;
  color: var(--content-basic-color-2);
  padding-right: 10px;
  align-items: center;
  position: relative;
  margin: auto;
  width: 80%;
}
.formsuccessful {
  background-color: var(--accent-color-2);
  border: 2px solid var(--secondair-color-1);
}
.formsuccessful i,
.formerrors i {
  font-size: 24pt;
  margin: 10px;
}

.formerrors .errorlist {
  position: relative;
  width: 100%;
  display: inline-block;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
