body {
  margin: 0;

  font-family: "Ubuntu", sans-serif;
  background-color: var(--secondair-color-2);
}
@media screen and (min-width: 600px) {
  .app {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 180px auto 100px;
    gap: 0;
    height: 100%;
    width: 100%;
  }

  nav {
    background-color: var(--primaire-color);
    margin: 0px;
    -webkit-box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    padding-left: 50%;
  }
}
@media screen and (max-width: 599px) {
  .app {
    display: grid;
    grid-template-columns: 0% auto 0%;
    grid-template-rows: 180px auto 100px;
    gap: 0;
    height: 100%;
    width: 100%;
  }
  nav {
    background-color: var(--primaire-color);
    margin: 0px;
    -webkit-box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 5px 24px 0px rgba(0, 0, 0, 0.75);
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    padding: 0px;
  }
}

header {
  grid-column: 2;
  grid-row: 1;
  background-color: var(--content-basic-color-1);
  padding-top: 80px;
  padding-left: 60px;
  align-items: center;
  display: flex;
}

main {
  grid-column: 2;
  grid-row: 2;
  background-color: var(--content-basic-color-1);
  padding: 50px 5px 5px 10px;
}

footer {
  grid-column: 2;
  grid-row: 3;
  background-color: var(--secondair-color-1);
}
